In [137]:
#     Chirag
import pandas as pd
import numpy as np
list1=['1','2','3','4','5']
data=np.array(list1)
s=pd.Series(data)

print("Numpy data representation \n",data )

print("Pandas data representation \n",s )

Numpy data representation
 ['1' '2' '3' '4' '5']
Pandas data representation
 0    1
1    2
2    3
3    4
4    5
dtype: object

In [10]:
import pandas as pd
import numpy as np
f =np.array(['a','b','c','d'])
s=pd.Series(f,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [1]:
import pandas as pd
data= {'a':'0','b':'1','c':'2'}
s=pd.Series(data,index=['b','c','d','a'])
print(s)

b      1
c      2
d    NaN
a      0
dtype: object

In [20]:
import pandas as pd
s=pd.Series(5,index=[0,1,2,3,4,5])
print(s)

0    5
1    5
2    5
3    5
4    5
5    5
dtype: int64

In [46]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first 3 elements
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [48]:
print(s[-3:- 1])

c    3
d    4
dtype: int64

In [58]:
list1=[1,2,3,4,5]
print(list1[2:])

[3, 4, 5]

In [62]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve a single element using label index
print(s['a'],s['b'],s['c'])
mul=(s['c']* s['e'])
print(mul)

1 2 3
15

In [69]:
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)
#retrieve multiple elements using a list of index values
print(s[['a','c','e']])

a    1
b    2
c    3
d    4
e    5
dtype: int64
a    1
c    3
e    5
dtype: int64

In [71]:
import pandas as pd 
data= [1,2,3,4,5]
sf= pd.Series(data)
df=pd.DataFrame(data)
print(sf)
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64
   0
0  1
1  2
2  3
3  4
4  5

In [75]:
import pandas as pd
data= [['Alex',10],['Bob',20],['Sam',30]]
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

   Name  Age
0  Alex   10
1   Bob   20
2   Sam   30

In [81]:
import pandas as pd
data= [['01','Chirag','220105232021','B.Tech AIML'],
       ['02','Shubham','220105232022','B.Tech AIML'],
       ['03','Roshan','220105232012','B.Tech AIML']]
df=pd.DataFrame(data,columns=['Sr.No','Name','PRN','Class'])
print(df)

  Sr.No     Name           PRN        Class
0    01   Chirag  220105232021  B.Tech AIML
1    02  Shubham  220105232022  B.Tech AIML
2    03   Roshan  220105232012  B.Tech AIML

In [94]:

data= {'Name':['Tom','Steve','Ricky'],
       'Age':[22,35,18,]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   22
1  Steve   35
2  Ricky   18

In [96]:
data= {'Name':['Tom','Steve','Ricky'],
       'Age':[22,35,18,]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3'])
print(df)

        Name  Age
rank1    Tom   22
rank2  Steve   35
rank3  Ricky   18

# CREATE A DATAFRAME FROM LIST OF DICTS

In [99]:
data=[{'a':1, 'b':2}, {'a':5,'b':10,'c':20}]
df=pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [107]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df= pd.DataFrame(d)
print(df)

   one  two
a    1    1
b    2    2
c    3    3
d    4    4

In [128]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']), 
   'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print("our dataframe is")
print(df)
print("Deleting the first column using del function")
del df['one']
print(df)
print('Deleting another column using pop function')
df.pop('two')
print(df)

our dataframe is
   one  two  three
a    1    1   10.0
b    2    2   20.0
c    3    3   30.0
d    4    4    NaN
Deleting the first column using del function
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
Deleting another column using pop function
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [134]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']), 
   'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print(df[2:4])
#multiple rows can be selected using : operator

   one  two  three
c    3    3   30.0
d    4    4    NaN

In [138]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d']), 
   'three':pd.Series([10,20,30],index=['a','b','c'])}
df=pd.DataFrame(d)
print(df.loc['b'])

one       2.0
two       2.0
three    20.0
Name: b, dtype: float64